/* configuração do elemento body */

body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("../_imagens/fundos.jpg");
}



/* configuração do elemento com id conteúdo */
#conteudo {
  background-color: #FDF5E6; /* cor de fundo */
  width: 900px; /* largura */
  margin: 0px auto 0px auto;/* espaçamento externo*/
  /* caixa com sombra */
  box-shadow: 0px 0px 25px rgba(0,0,0,0.5);
  padding: 10px /* espaçamento interno */
}

/*  configuração do elemento com id cabeçalho */
#cabecalho{
  height: 150px; /* altura */
  border-bottom: 1px solid; /* linha embaixo */
  /* imagem de fundo */
  
}

/* configuração da lista do menu */
#menu ul{
    list-style: none; /* some os marcadores da lista */
    text-transform: uppercase; /* letra maiúscula */
    float: right; /* flutuar para direita */
}

#menu ul li {
  display: inline-block; /* itens aparecem tudo na mesma linha */
  background-color: #ccc; /* altera a cor de fundo */
  padding: 10px; /* espaçamento interno */
  margin: 2px; /* espaçamento externo */
}

#menu ul li:hover {
  background-color: #606060; /* altera a cor de fundo */
  color: #fff; /* altera cor */
  transition: background 1s; /* 1s para transição de background */
}

#menu ul a{
  color: #000; /* cor*/
  text-decoration: none; /* link sem sublinhado */
}

#icone {
  position: relative; /* posição atual da foto */
  top: -90px; /* desloca para cima < 0 */
  top: -80px;
  left: 600px; /* desloca para direita */
}
#logo {
  position: relative; /* posição atual da foto */
  top: -50px; /* desloca para cima < 0 */
  top: -18px;
  left: -1px; /* desloca para direita */
  width: 119px;

}


/* configura h1 do header */
#cabecalho h1{
  
  font-size: 20pt;
  color: #606060;
  padding: 0px;
  margin-bottom: 0px;
}

/* configura h2 do header */
#cabecalho h2{
  font-size: 10pt;
  color: #888;
  padding: 0px;
  margin-bottom: 0px;
}

#corpo{
  width: 500px; /* largura */
  float: left;  /* flutua a esquerda */
  border-right: 1px solid #8B4513; /* borda a direita */
  padding: 0px 15px 15px 0px;
}

#noticia h2{
  background-color: #FFEBCD; /* cor de fundo */
  font-size: 15pt; /* tamanho da fonte */
  color:#000000; /* cor do texto */
  padding: 5px 0px 5px 10px; /* espaçamento interno */
  margin: 10px 0px 10px 0px; /* espaçamento externo */
}
#lateral {
  float: right; /* flutua a direita */
  width: 350px; /* largura */
  padding: 10px; /* espaçamento interno */
  background-color:#DEB887; 
  margin-top: 10px;
}

#rodape {
  clear: both; /* coloca conteúdo no espaço disponível abaixo e esquerda */
  border-top: 1px solid #006400;
}

#rodape p{
  padding-top: 15px; /* espaçamento interno */
  text-align: center; /* alinhamento centralizado */
}

#noticia h3{
  font-size: 9pt;
  color: #606060;
}

#noticia h1{
  font-size: 20pt;
  color: #A0522D;
}

p{
  text-align: justify;
  text-indent: 50px;
}

#lateral h1{
  font-size: 20pt;
  color: #000000	;
  margin-top: 0px;
}

#lateral h2{
  font-size: 10pt;
  color: #000000;
  padding: 5px;
  background-color: #FFEBCD; 
}


.foto{
  position: relative;
  border: 8px solid #FFFFFF;
  box-shadow: 0px 0px 0px 10px  #FFFFFF;
  margin: 0%
}

.foto img{
  width: 100%;
  height: 100%;
} 

#frame {
  width: 380px;
  height: 450px;
  border: none;
}
#flor{
width: 380px;
height: 380px;
background-image: url(FLOR.jpg);
background-repeat: no-repeat;
background-attachment: scroll;
}
 
.text-position{
  text-align: center;
}